body {
    text-align: center;
    background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/156/872/original/Pin_by_Moonsa_on_Wallpaper___Phone_wallpaper__Iphone_wallpaper_landscape__Vintage_wallpaper.jfif?1738907133');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}


h1 {
    color: white;
    font-size: 26px;
 margin-bottom: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

form {
    display: flex;
    gap: 10px;
}

input[type="text"], input[type="submit"] {
    font-family: 'Times New Roman', serif; 
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #402a23;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

input[type="submit"] {
    cursor: pointer;
    background: #333;
    color: white;
    font-size: 20 px;
}

input[type="submit"]:hover, input[type="text"]:hover {
    background: #ffcc00; 
    color: black;
}


.quot {
    text-align: center;
    padding: 20px;
    width: 280px;
    color: white;
    font-size: 18px;
    line-height: 1.4;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}


footer a {
    color: #ffa500;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
    input[type="text"] {
        width: 180px;
    }
}
